<style>
    img{
        border-radius: 6px;
    }
    .logo img {
        max-width: 75%;
        height: auto;
    }
</style>

@model IEnumerable<Hubbell.Models.EmpleadosMes>

@{
    ViewBag.Title = "EmpleadosMes";
}

<h2>Empleados del mes</h2>

<p>
    @Html.ActionLink("Agregar empleado", "AgregarEmpleado")  |  @Html.ActionLink("Agregar imagen", "AgregarImagen")
</p>

<h3>Filtrar búsqueda</h3>
<input class="form-control text-box single-line"
       type="text"
       id="input2"
       onkeyup="filtrar2()"
       placeholder="Ingresar fecha">

<img src="~/Content/Img/Empleado_Mes_Logo.png" style="position: absolute; right: 5%; top: 7%; display: block; height: 125px; width: 125px; "/>

<p></p>

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NumReloj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumReloj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarEmpleadoMes", new { id = item.Id }) |
                @Html.ActionLink("Eliminar", "EliminarEmpleadoMes", new { id = item.Id })
            </td>
        </tr>
    }
</table>

@Html.Partial("_ListadoFotos", (List<Hubbell.Models.FotoEmpleadosMes>)ViewBag.fotos)