
@{
    ViewBag.Title = "NuestrosClientes";
}

<h2>NuestrosClientes</h2>

<div class="buttons">
    <input type="button" value="Box Pad" class="btn btn-success" onclick="location.href='@Url.Action("BoxPad", "NuestrosProductos")'" />
    <input type="button" value="Pedestales" class="btn btn-success" onclick="location.href='@Url.Action("Pedestales", "NuestrosProductos")'" />
    <input type="button" value="Hot Box Metal" class="btn btn-success" onclick="location.href='@Url.Action("HotBoxMetal", "NuestrosProductos")'" />
    <input type="button" value="Hot Box Fibra" class="btn btn-success" onclick="location.href='@Url.Action("HotBoxFibra", "NuestrosProductos")'" />
    <input type="button" value="Nuestros clientes" class="btn btn-success" onclick="location.href='@Url.Action("NuestrosClientes", "NuestrosProductos")'" />
</div>
<p></p>
<img src="~/Content/Img/clientes.png" height="550" />
