
@{
    ViewBag.Title = "PAD";
}

<h2>PAD</h2>

<div class="buttons">
    <input type="button" value="CDR Boxes" class="btn btn-success" onclick="location.href='@Url.Action("CDRBoxes", "NuestrosProductos")'" />
    <input type="button" value="Quazite Boxes" class="btn btn-success" onclick="location.href='@Url.Action("QuaziteBoxes", "NuestrosProductos")'" />
    <input type="button" value="PAD" class="btn btn-success" onclick="location.href='@Url.Action("PAD", "NuestrosProductos")'" />
    <input type="button" value="Corrugated Boxes" class="btn btn-success" onclick="location.href='@Url.Action("CorrugatedBoxes", "NuestrosProductos")'" />
    <input type="button" value="Covers" class="btn btn-success" onclick="location.href='@Url.Action("Covers", "NuestrosProductos")'" />
    <input type="button" value="Nuestros clientes" class="btn btn-success" onclick="location.href='@Url.Action("NuestrosClientes", "NuestrosProductos")'" />
</div>
<p></p>
<table class="table">
    <tr>
    </tr>
    <tr>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
        <td><img src="~/Content/Img/boxpad.jpg" height="200" /></td>
    </tr>
</table>