@{
    ViewBag.Title = "Pedestales";
}

<h2>Pedestales</h2>
<div class="buttons">
    <input type="button" value="Box Pad" class="btn btn-success" onclick="location.href='@Url.Action("BoxPad", "NuestrosProductos")'" />
    <input type="button" value="Pedestales" class="btn btn-success" onclick="location.href='@Url.Action("Pedestales", "NuestrosProductos")'" />
    <input type="button" value="Hot Box Metal" class="btn btn-success" onclick="location.href='@Url.Action("HotBoxMetal", "NuestrosProductos")'" />
    <input type="button" value="Hot Box Fibra" class="btn btn-success" onclick="location.href='@Url.Action("HotBoxFibra", "NuestrosProductos")'" />
    <input type="button" value="Nuestros clientes" class="btn btn-success" onclick="location.href='@Url.Action("NuestrosClientes", "NuestrosProductos")'" />
</div>
<p></p>
<table class="table">
    <tr>
    </tr>
    <tr>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
    </tr>
    <tr>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
        <td><img src="~/Content/Img/pedestales.jpg" height="200" /></td>
    </tr>
</table>

